body, html {
    margin: 0;
    padding: 0;
    border: 0;
}
.page {
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    justify-self:  flex-start;
    font-size: 64px;
    font-style:oblique;
}
.calc {
    width: 400px;
    background-color: #dcd5da;
    padding: 24px;
    border: solid black;
    border-radius: 2px;
}
.calcbtns {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
    height: 500px;
}

.btn{
    font-size: 24px;
    background-color: #bec3d4;
    border: solid;
    border-radius: 2px;

}

.number {
    border: solid black;
    font-size: 36px;
    background-color: #E8E8E8;
    text-align: right;
    padding: 20px;
    width: 360px;
    height: 40px;
}

.zero {
    grid-column: span 3;
}

.clear {
    grid-column: span 3;
}